# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
*.tfvars
!example.tfvars
.terraform.lock.hcl

# .NET
bin/
obj/
*.user
*.suo
local.settings.json

# Node
node_modules/
dist/
.env
.env.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
